<ion-view title="">
    <ion-content padding="true" class="has-header has-footer text-center content">
        <h1 class="title campaigntitle">Orders</h1>
        <ion-list>
            <div class="order--list-item" ng-repeat="(date,list) in ordersList.orders">

                <div class="item item-divider">
                    Actions {{date}}
                </div>
                <a ng-repeat="order in list" class="item item-text-wrap item-icon-left" ui-sref="order({orderId: order.RQ_ID})">
                    <i class="icon ion-ios-list"></i>
                    {{order.EX_TicketID}}<br/>{{order.CU_Name}}<br/>{{order.description}}
                </a>

            </div>
        </ion-list>
    </ion-content>
</ion-view>
