.login input:-webkit-autofill {
  background-color:#fff !important;
}

.angular-google-map-container { height: 400px; }

.login .assertive, .login a.assertive {
  color: #fff;
  background-color: #c70303;
  height: 25px;
  padding: 2px;
  font-size: 13px;
}

.popup-body {
  text-align: center;
}

@font-face {
  font-family: questrial;
  src:
  url("/fonts/Questrial-Regular.ttf"),
  url("/fonts/Questrial-Regular.eot");
}

// --> plugins
//@import "plugins/select2";
textarea {
  border:1px solid #CCCCCC;
}

body, .ionic-body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, input, button, select, textarea {
  font-family:"Questrial"
}

ol, ul {
  font-size:14px;
}
h1 {
  font-size:25px;
}

h3 {
  color:#a30013;
  font-size:20px;
  text-align:center;
}

.item p {
  margin-bottom: 10px;
}

.item.htmlcampaign p {
  margin-bottom:5px;
  margin-top:0px;
}

.item.htmlcampaign br {
  line-height: 0px;
  content: " ";
  display:none;
}

.item p, .item-body p {
  color:#666666;
}

.item p, .item h2 {
  text-align: left !important;
}

.pane, .view {
  background-color:#f6f6f6;
}

.bar.bar-positive.withlogo {
  border:none;
  background:  #a30013 url("/img/bar-logo.png") no-repeat center center;
}

.bar-positive .button.button-clear {
  font-size: 15px;
}

.bar .buttons span.back-text {
  font-size: 15px;
}

.bar.bar-positive img {
  position: absolute;
  left:38%;
  display:block;
}

.campaign--list-item {
  -moz-box-shadow: 0 0 3px #bebebe;
  -webkit-box-shadow: 0 0 3px#bebebe;
  box-shadow: 0 0 3px #bebebe;
  margin-bottom:12px;
}

.login {
  background-color: #FFFFFF;
}

.login input {
  color:#666;
  text-align: center;
  padding: 0 10px !important;
}

.login form {
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
}

.login .list label {
  opacity:0.8;
  margin-top:0px;
  padding-left:2px;
}

.login .card-bg {
  margin-top:25px;
}

.login a.item {
  background:none;
  border:none;
}

.login a {
  color:#ffffff;
  font-size: 14px;
  text-decoration:none;
}

.item-input {
  border-color: #a30013 !important;
  border-style: solid !important;
  border-width: 1px !important;
}

.card {
  margin-top: 1px;
}

.card .item {
   text-align: left;
}

.card .item.noline {
   border:none;
}

.card .item.nopaddingb {
  padding-bottom:0px;
}

.card h2, .item h2 {
  font-size:20px;
}

.content .title {
  color: #a30013;
}

.item-body h2 {
  margin:0px;
  color:#a30013;
  margin: 0 0 5px;
}

.blog-info {
  text-align:left;
  font-size:14px;
  color:#a30013;
  display:block;
}

.item-thumbnail-left h2, .item-thumbnail-left p {
  text-align:left !important;
}

.item-body h2 a {
  color: #a30013;
  text-decoration: none;
}

.previewbox img {
  max-width:150px !important;
  width:150px !important;
}

.btn-file.upload-control {
  border:1px solid #333; padding:4px;
  background-color:#CCC;
  text-align:center;
}

#reportingform .uploadPanel {
  margin-left:auto; margin-right:auto; width:auto;
  clear:both; margin-top:5px;
}

.comments-count {
  color: #999999;
  font-size: 12px;
  margin-top: -10px;
  position: absolute;
  right: 16px;
  text-align: right;
  top: 50%;
  width: 36px;
}

.button {
  background: #f3b136;
  background: -moz-linear-gradient(left, #f3b136 0%, #f5c05d 50%, #f3b136 100%);
  background: -webkit-linear-gradient(left, #f3b136 0%,#f5c05d 50%,#f3b136 100%);
  background: linear-gradient(to right, #f3b136 0%,#f5c05d 50%,#f3b136 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3b136', endColorstr='#f3b136',GradientType=1 );
  border: none;
}

.button.button-positive.active, .button.button-positive.activated {
  border-color: #6b4200;
}

.button.button-positive, .button.button-positive:hover {
  color: #6b4200;
}

.button.activated, .tabs a.activated {
  opacity:0.7;
}


//MY INBOX

.scroll-refresher .ionic-refresher-content{
  color:#b8b8b8;
}

.inbox .item{
  margin-bottom: 10px
}

.inbox .bar-footer input {
  height: 34px !important;
}

.inbox a h2, .inbox h2 {
  color: #a30013;
  font-size:20px;
}

hr {
  border:none;
}

.inbox .outbox0 {
  text-align:right;
  width:100%;
  display: inline-block;
  position:relative;
}

.inbox .outbox0 div {
  float: right;
  display: block;
  background-color: #a30013;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #ddd;
  max-width: 75%;
}

.inbox .outbox1 {
  text-align:left;
  width:100%;
  display: inline-block;
  position:relative;
}

.inbox .outbox1 div {
  float: left;
  display: block;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #a30013;
  border: 1px solid #ddd;
  max-width: 75%;
}

.inbox .outbox1 div p {
  margin: 0px;
  color: #a30013;
}

.inbox .inbox-report p {
  margin: 20px 0px 5px 0px;
  color:#666666;
}

.inbox .inbox-report p.answer {
  margin: 0px;
  color: #a30013;
}

.inbox .inbox-report div p:last-child {
  color: #a30013;
}

.inbox .ion-android-bookmark {
  font-size: 30px;
  color: #a30013;
  transform: rotate(90deg);
  right:-2px;
  top: 10px;
}


//LEFT MENU
.profileImage {
  border-radius: 50%;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

.menu-left .item .item-content.activated {
    background-color: #000000;
}

.menu-left .item a.activated  {
    opacity: 0.7;
}

.menu-left .active .item-content {
    background-color: #000000 !important;
}

.menu-left .item-complex a {
  border-top: 1px solid transparent !important;
}

.menu-left span.border {
  display:block;
  height:3px;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, white , #a30013); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, white, #a30013); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, white, #a30013); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, white , #a30013); /* Standard syntax */
  margin-left: 12px;
  opacity: 0.7;
}

.menu-left .title {
  text-align:left;
}

.htmlcampaign .activated, .list .item a.activated {
  background-color:#e8f5f5;
}

.menu-left {
  background-color: #a30013;
}

.menu-left .userarea {
  background-color: #a30013;
  border:none;
}

.menu-left .userarea h1 {
  color:#fff;
  font-size:20px;
  float:left;
  margin: 15px 0px 0px 10px;
}

.menu-left .userarea img {
  float:left;
  border:2px solid #fff;
}

.menu-left .item-complex, .menu-left .item-complex a  {
  background-color: #a30013;
  color: #fff;
}

.menu-left .item-complex  {
  border:none;
  padding-left: 12px;
}

.menu-left .item-avatar {
    background-color: #a30013;
}

.menu-left .item-avatar img {
    max-width:60px;
    max-height:60px;
}

.menu-left .item-avatar h1 {
    margin:0px;
    font-size:18px;
    color:#FFF;
}

.menu-left .item a, .menu-left .item i {
  color: #fff;
  text-decoration: none;
}

.menu-left .item a {
  padding-left:73px !important;
  font-size:17px;
}

.menu-left .item i {
  font-size: 28px;
  margin-left: 7px;
}

.menu-content, .platform-android.platform-android4.platform-android4_2 .menu-content {

  -webkit-box-shadow: -10px 0px 41px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -10px 0px 41px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -10px 0px 41px 0px rgba(0, 0, 0, 0.3);

}

.bar.bar-stable {
  background-color: #a30013;
  color: #ffffff;
  border: none;
}

.bar.bar-stable.bar-footer {
  background-color: #a30013;
}

.bar.bar-stable.bar-footer .button {
    border: none;
    color: #a30013;
    border-radius: 100px;
    background: white;
    height: 35px;
    width: 35px;
}

.bar.bar-stable.bar-footer .sendbutton {
  margin-left:8px;
}

.bar.item-input-inset .item-input-wrapper input {
  width:100%;
  background-color:#fff;
}

.bar.bar-stable h1,.bar.bar-stable h1.title {
  color: #ffffff;
  font-size: 16px;
  left:43px !important;
}


//FOOTER / TABS MENU
.tabs-stable > .tabs, .tabs.tabs-stable {
  background-color: #a30013;
  background-image: none;
  border: medium none;
  color: #ffffff;
}

.tabs .tab-item .icon {
  font-size: 28px;
  padding-top: 4px;
}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item{
  line-height: 8px;
}


// ICONS

.bar .button.button-clear .icon::before, .bar .button.button-clear.icon::before, .bar .button.button-clear.icon-left::before, .bar .button.button-clear.icon-right::before {
  font-size: 25px;
}

.ion-information-circled, .ion-ios-calendar-outline, .ion-ios-calendar {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:16px;
  margin-right:5px;
  color:#a30013;
}

.iconlink {
  width:50%;
  float:left;
}

.iconlink i {
  font-size: 30px;
  color:#f3b136;
  display: block;
}

.iconlink span {
  display: block;
}


// CAMPAGNE

#infolink {
  text-align:center;
  font-size:15px;
  color:#a30013;
}

.action-item {
  width:33%;
  padding:0px;
}

.action-item .icon, .action-item .action-text {
  display: block;
  text-align: center;
}

.action-item .icon{
  color:#f3b136;
  margin-bottom:10px;
}

.action-item .action-text{
  color:#666;
  font-size:15px;
  margin: 0 10px;
}

.htmlcampaign .item {
  text-align: center;
  border:none;
}


// COMMENT

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
  max-height: 50px;
  max-width: 50px;
  width: 60%;
}

.item-thumbnail-left {
  padding-left:76px;
  border:none;
}

.item-thumbnail-left h2 {
  font-size: 17px;
  color:#a30013;
}

.item-thumbnail-left img {
  border-radius: 100%;
}

.item-thumbnail-left .pull-right a {
  color: #6b4200;
  text-decoration: none;
  font-size:14px;
  padding: 8px 10px;

  background: #f3b136;
  background: -moz-linear-gradient(left, #f3b136 0%, #f5c05d 50%, #f3b136 100%);
  background: -webkit-linear-gradient(left, #f3b136 0%,#f5c05d 50%,#f3b136 100%);
  background: linear-gradient(to right, #f3b136 0%,#f5c05d 50%,#f3b136 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3b136', endColorstr='#f3b136',GradientType=1 );
}

.item-thumbnail-left .pull-right .ion-chatbox::before, .item-thumbnail-left .pull-right .ion-thumbsup::before {
  color: #6b4200 !important;
}

.item .tab-item {
  background: #f3b136;
  background: -moz-linear-gradient(left, #f3b136 0%, #f5c05d 50%, #f3b136 100%);
  background: -webkit-linear-gradient(left, #f3b136 0%,#f5c05d 50%,#f3b136 100%);
  background: linear-gradient(to right, #f3b136 0%,#f5c05d 50%,#f3b136 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3b136', endColorstr='#f3b136',GradientType=1 );
  border: none;
  font-family:"Questrial";
  max-width:100%;
  color: #6b4200;
  opacity:1;
}

.item .tab-item:first-child {
  border-right: solid #fff 1px;
}

.item .tab-item .ion-chatbox::before, .item .tab-item .ion-share::before {
  color: #6b4200;
}

.tabs-icon-left.tabs .tab-item, .tabs-icon-left > .tabs .tab-item, .tabs-icon-right.tabs .tab-item, .tabs-icon-right > .tabs .tab-item {
  font-size: 16px;
}

.item .tab-item .icon {
  padding-top: 2px;
}

a.subdued {
  background-color:#f1f1f1;
  color: #333333;
  padding:10px;
  width: 100%;
  display:block;
  text-align: center;
  margin-bottom: 1px;
}

a.ion-ios-arrow-forward:before {
  margin-right: 5px;
}

#commentform textarea {
  width: 100%;
}


//COMMENTS

#comment .item-input, #subComment .item-input {
  border:none !important;
  display: inline-block;
  padding: 0;
  width: 100%;
}

#comment .input-label, #subComment .input-label {
  color: #a30013;
  font-size:20px;
  text-align:center;
  display: inline-block;
  max-width:100%;
  width:100%;
}

.item-body #commentform {
  margin-bottom: 14px;
  margin-top: 13px;
}

.footer-chat {
	margin-bottom:49px;
}


//SURVEYS

.surveyview .ion-quote {
  font-size: 25px;
  color: #a30013;
}

.surveyview h2 {
  color:#a30013;
  text-align:center !important;
}

.surveyview .item-content, .surveyview .item-checkbox {
  padding-left:40px;
  padding-right:40px;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #a30013;
  border-color: #a30013;
}

.surveyview .ion-checkmark {
  font-size: 20px;
  color:#a30013;
}

.surveyview .button {
  color:#6b4200;
}

.surveyview .ion-compose, .surveyview .ion-calculator, .surveyview .ion-ios-calendar-outline, #select .ion-information-circled {
  font-size: 25px;
  color:#a30013;
}

.surveyview input {
  font-size: 16px;
}

.surveyview .button:first-child, .button-bar .button:first-child {
  margin-right:2px;
}

.button-bar .button {
  color:#6b4200;
}

.surveyview .button {
  margin-right:2px;
}

.surveyview .open-answer-large .item-input {
  padding:10px;
}

.surveyview .open-answer-large .item-input textarea {
  height: 100px;
  border: none;
  color: #666;
}

.surveyview .horizontalrow .item-divider {
  background:none;
  color: #a30013;
  font-size: 20px;
}

.surveyview .horizontalrow {
  margin-bottom: 30px;
}

.surveyview .datefield input {
  padding: 0px 10px 0px 0px !important;
  color: #666;
}

#select .bar a.button, #reaction .bar a.button {
  background:none;
  color:#a30013;
}

.item-checkbox .item-content {
  padding:0px;
}
.item-checkbox .item-content label {
    width: 200px;
    padding: 0px;
    text-align: center;
    margin-left: 21px;
    border: 1px solid #a30013;
}
.item-checkbox .item-content label input {
    width: 225px;
    text-align:center;
}


// POPUP ERROR MESSAGE

.popup .popup-head {
  padding: 15px 10px 5px 10px;
  border-bottom:none;
}

.popup h3 {
  font-size: 20px;
  color:#c70303;
}

.popup .popup-body {
  color:#666;
}

.blogoverview img, .blogoverview iframe {
  max-width: 100% !important;
}

#comments {
  text-align: left !important;
}

.blogoverview .ion-chatbox:before {
  font-size: 20px !important;
}

.blogoverview .tabs .icon {
  padding-right: 7px !important;
}

.comments {
  border-top: 1px solid #666;
}

.comments h2, .comments h3, .comments p {
  text-align: left !important;
}

.comments .item {
  border:none;
}

.comments .item:first-child {
    border-top: 1px solid #ddd;
}

.comments .item p {
  margin:0px 0px 0px 55px;;
}

.comments h2 {
  color:#a30013;
  font-size:18px;
}

.comments .reaction {
  padding-top:0px;
}

.comments .icon {
  margin-right:5px;
}

.comments p strong {
  color: #a30013;
  font-weight: normal;
}

.comments h3 {
  color:#666;
  font-size:14px;
}

.comments a {
  color: #a30013;
  text-decoration: none;
  font-size: 14px;
  width:45%;
  display:inline-block;
  padding:10px;
  text-align:center;
}

.comments .action a:first-child {
  border-right:1px solid #ddd;
}


.comments .action {
  padding: 16px 0 0 0!important;
}

.comments a i {
  font-size: 15px;
}

#reaction input {
  border: 1px solid #a30013;
  width:100%;
}

.item-options .button.button-assertive {
  background:#c70303 !important;
  border:none !important;
}

.maxImageWidth img {
	max-width:100%;
}



// ANDROID FIXES

.platform-android .bar-positive .buttons {
  left: 5px !important;
}

.platform-android .tabs-bottom .tab-nav {
  background-color:#a30013;
}

.platform-android .tabs-bottom .tab-item.activated, .platform-android .tabs-bottom .tab-item-active {
  color:#FFFFFF !important;
  opacity: 1!important;
  border-top: solid 1px #fff !important;
}

.platform-android .tabs-bottom .tab-item {
  color:#ffffff;
  opacity:0.7;
}




