<ion-view title="">
    <ion-content padding="true" class="has-header has-footer text-center content">
        <h1 class="title campaigntitle">Planning</h1>
        <ion-list>
            <div class="order--list-item" ng-repeat="order in current.orders">
                <button ng-class="current.select._id === order._id ? 'item-divider' : ''" class="item item-icon-left button-block" ng-click="current.selectTo(order)">
                    <i class="icon ion-ios-list"></i>
                    {{order.EX_TicketID}}<br/>{{order.CU_Name}}<br/>{{order.description | limitTo : 15}}
                </button>
            </div>
        </ion-list>
        <ion-list ng-if="current.select">
            <div class="item" ng-if="current.select.status == undefined || current.select.status == 'pauze' || current.select.status == 'hold'">
                <button ng-click="current.start()" class="button button-block button-assertive">
                    Start Request
                </button>
            </div>
            <div class="item" ng-if="current.select.status == 'start'">
                <button ng-click="current.pauze()" class="button button-block button-assertive">
                    Pauze Request
                </button>
            </div>
            <div class="item" ng-if="current.select.status == 'start'">
                <button ng-click="current.openHold()" class="button button-block button-assertive">
                    On Hold
                </button>
            </div>
            <div class="item" ng-if="current.select.status == 'start'">
                <button ng-click="current.stop()" class="button button-block button-assertive">
                    Close Request
                </button>
            </div>
            <div class="item">
                <a ui-sref="order({orderId: current.select._id})" class="button button-block button-assertive">
                    Detail Request
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
<script id="reasons.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Reden</h1>
            <button class="button button-clear button-primary" ng-click="current.modal.hide()">[X]</button>
        </ion-header-bar>
        <ion-content class="padding">
            <ion-list>
                <ion-radio ng-model="current.selectedReason" ng-value="reason.PM_Code" ng-repeat="reason in current.getReasons">{{reason.PM_DescriptionNL}}</ion-radio>
            </ion-list>
            <div class="item">
                <button ng-click="current.hold()" class="button button-block button-assertive">
                    Submit
                </button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
