<ion-view title="">
    <ion-content padding="true" class="has-header has-footer text-center content">
        <div class="card list">
            <div class="item item-image">
                <img src="/img/logo2.jpg" alt="logo"/>
            </div>
            <div class="item" ng-if="home.$rootScope.isWorking">
                <a ui-sref="current" class="button button-block button-assertive">
                    Planning
                </a>
            </div>
            <div class="item">
                <a ui-sref="orders" class="button button-block button-assertive">
                    Timesheets
                </a>
            </div>
            <div class="item">
                <a ng-click="home.status ? home.working(false) : home.working(true)" class="button button-block button-assertive">
                    {{ home.status ? 'stop' : 'start'}} workday
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
