<ion-view title="">
    <ion-content padding="true" class="has-header has-footer text-center content">
        <h1 class="title campaigntitle">Detail from request</h1>
        <div class="list card item-text-wrap">

            <div class="item item-divider item-text-wrap">
                <h2>{{orderDetail.order.description}}</h2>
            </div>

            <div class="item">
                {{orderDetail.order.EX_TicketID}}
            </div>

            <div class="item">
                {{orderDetail.customDate(orderDetail.order.RQ_ExecutionDate)}}
            </div>

            <div class="item item-divider">
                {{orderDetail.order.CU_Name}}
            </div>

            <div class="item">
                {{orderDetail.order.CU_Address}} - {{orderDetail.order.CU_Zip}} - {{orderDetail.order.CU_City}}
            </div>

            <div class="item item-divider">
                {{orderDetail.order.SI_Name}}
            </div>

            <div class="item">
                {{orderDetail.order.SI_Address}} - {{orderDetail.order.SI_Zip}} - {{orderDetail.order.SI_City}}
            </div>

        </div>
        <div class="list card" ng-if="orderDetail.order.actions">
            <div class="item item-divider">
                <h2>Actions</h2>
            </div>

            <div class="item item-text-wrap" ng-repeat="action in orderDetail.order.actions">
                {{orderDetail.customDate(action.AC_CreationTime)}} - {{action.PM_Description}} -
                <button ng-click="orderDetail.openModal(action)" class="button button-small icon ion-chatbox button-calm">

                </button>
            </div>
        </div>

        <div class="list card" ng-if="orderDetail.order.actions">
            <div class="item item-divider">
                <h2>Timeslots</h2>
            </div>

            <div class="item item-text-wrap" ng-repeat="timeslot in orderDetail.order.timeslots">
                <!--Todo: issue how to know if it is on hold? will be stop for now-->
                {{timeslot.TS_TicketID}} <strong>{{timeslot.TS_Type == '3' ? 'Pauze' : timeslot.TS_Type == 4 ? 'On Hold' : timeslot.TS_StopTime !== '' ? 'Stop' : 'Start'}}</strong> | {{orderDetail.customDate(timeslot.TS_StartTime)}} - {{orderDetail.customDate(timeslot.TS_StopTime) }}
            </div>
        </div>

    </ion-content>
</ion-view>
<script id="comment.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Comment</h1>
            <button class="button button-clear button-primary" ng-click="orderDetail.modal.hide()">[X]</button>
        </ion-header-bar>
        <ion-content class="padding">
            <ion-list>
                <label class="item item-input">
                    <textarea placeholder="Comment" ng-model="orderDetail.selectedComment"></textarea>
                </label>
            </ion-list>
            <div class="item">
                <button ng-click="orderDetail.comment()" class="button button-block button-assertive">
                    Submit
                </button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>