<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>

        <ion-nav-bar class="bar-positive withlogo">

            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="primary" ng-show="temcogeo.$rootScope.checkUserLoggedOn() && temcogeo.$rootScope.userConnected()">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="primary"></button>
            </ion-nav-buttons>

        </ion-nav-bar>

        <ion-nav-view animation="slide-left-right"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left" ng-show="temcogeo.$rootScope.checkUserLoggedOn() && temcogeo.$rootScope.userConnected()">
        <ion-content class="">
            <ion-list>
                <ion-item nav-clear menu-close class="userarea">
                    <!-- <img src="{{$root.currentUser.profile.avatar}}" width="50" class="profileImage" /> -->
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/00e/1f9/3909094.jpg" width="50" class="profileImage" />
                    <h1 class="title"> {{$root.currentUser.profile.firstName}}</h1>
                </ion-item>
                <span class="border"></span>
                <ion-item nav-clear menu-close ng-class="{active: menu.state.current.name.split('.')[0] === 'orders'}" ui-sref="orders" class="item-icon-left">
                    <i class="icon ion-android-mail"></i> Timesheet
                </ion-item>
                <span class="border"></span>
                <ion-item ng-show="temcogeo.$rootScope.isWorking" nav-clear menu-close ng-class="{active: menu.state.current.name.split('.')[0] === 'current'}" ui-sref="current" class="item-icon-left">
                    <i class="icon ion-android-list"></i> Planning
                </ion-item>
                <span class="border"></span>
                <ion-item nav-clear menu-close ng-class="{active: menu.state.current.name.split('.')[0] === 'home'}" ui-sref="home" class="item-icon-left">
                    <i class="icon ion-android-list"></i> Home
                </ion-item>
                <span class="border"></span>
                <ion-item nav-clear menu-close href="" ng-click="temcogeo.$rootScope.logMeOut()" class="item-icon-left">
                    <i class="icon ion-android-exit"></i> Log out
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<footer></footer>
