<ion-tabs class="tabs-stable tabs-icon-top" ng-cloak ng-if="footer.$rootScope.checkUserLoggedOn() && footer.$rootScope.userConnected()">
    <!--<ion-tabs class="tabs-stable tabs-icon-top">-->
    <ion-tab title="Home" icon-on="ion-android-mail" icon-off="ion-android-mail" ui-sref="home" ng-click="footer.$rootScope.gotoMainTab('home')">
        <!-- Tab 1 content -->
    </ion-tab>
    <ion-tab title="Timesheet" icon-on="ion-android-list" icon-off="ion-android-list" ui-sref="orders" ng-click="footer.$rootScope.gotoMainTab('orders')">
        <ion-nav-view name="tab-recents"></ion-nav-view>
    </ion-tab>
    <ion-tab ng-if="footer.$rootScope.isWorking" title="Planning" icon-on="ion-android-list" icon-off="ion-android-list" ui-sref="current" ng-click="footer.$rootScope.gotoMainTab('current')">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
</ion-tabs>