<ion-content class="padding text-center login">
    <img src="/img/logo.jpeg" alt="logo" style="margin-top:45px; margin-bottom:34px;" width="250px" />
    <ion-list class="list-inset" ng-if="login.connected">
        <form name="loginForm" novalidate ng-submit="login.login()">
            <label class="item item-input">
                <input type="text" name="email" ng-model="email" placeholder="Email" required/>
            </label>

            <div class="item item-text-wrap assertive"
                 ng-show="login.submitted && loginForm.email.$error.email || login.submitted && loginForm.email.$error.required">
                <i class="icon ion-alert-circled"></i> INVALID_EMAIL</div>
            <label class="item item-input">
                <input type="password" name="password" ng-model="password" placeholder="Password" required/>
            </label>

            <div class="item item-text-wrap assertive" ng-show="login.submitted && loginForm.password.$error.required">
                <i class="icon ion-alert-circled"></i> REQUIRED_FIELD</div>
            <button type="submit" class="button button-block button-positive">log in</button>
        </form>
    </ion-list>

</ion-content>
<div class="card" ng-if="!login.connected">
    <div class="item item-divider item-assertive">
        <i class="icon ion-alert-circled"></i>CONNECTION_ERROR
    </div>
    <div class="item item-text-wrap">
        CONNECTION_ERROR_MESSAGE<br/>
    </div>
</div>